{% load static %}
<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header d-flex align-items-center" data-background-color="dark">
      <a href="{% url 'internal_home' %}" class="logo"><img src="{% static 'core/img/logo/registro_ponto_white.svg' %}" alt="navbar brand" class="navbar-brand" height="32" /></a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar"><i class="fas fa-bars"></i></button>
        <button class="btn btn-toggle sidenav-toggler"><i class="fas fa-bars"></i></button>
      </div>
      <button class="topbar-toggler more"><i class="gg-more-vertical-alt"></i></button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        {% for key, item in menu_options.items %}
          {% if item.permission %}
            <li class="nav-item">
              <a 
                href="{% if item.url != '#' %}{% url item.url %}{% else %}#{{ key }}{% endif %}" 
                {% if item.url == '#' %}
                  data-bs-toggle="collapse" class="collapsed" aria-expanded="false"
                {% endif %}
                >
                <i class="{{ item.icon }}"></i>
                <p>{{ item.label }}</p>
                {% if item.children %}
                  <span class="caret"></span>
                {% endif %}
              </a>
              {% if item.children %}
              <div class="collapse" id="{{ key }}">
                <ul class="nav nav-collapse">
                  {% for child in item.children %}
                    <li class="nav-item">
                      <a 
                        href="{% if child.url != '#' %}{% url child.url %}{% else %}#{{ child.label|slugify }}{% endif %}"
                        {% if child.url == '#' %}
                          data-bs-toggle="collapse" class="collapsed" aria-expanded="false"
                        {% endif %}
                        >
                        <p>{{ child.label }}</p>
                        {% if child.children %}
                          <span class="caret"></span>
                        {% endif %}
                      </a>
                      {% if child.children %}
                        <div class="collapse" id="{{ child.label|slugify }}">
                          <ul class="nav nav-collapse">
                            {% for sub_child in child.children %}
                              <li>
                                <a href="{% url sub_child.url %}"><span class="sub-item">{{ sub_child.label }}</span></a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->
